{% extends 'calculadora/index.html' %}

{% block content %}

<p class="display-3">IEEE</p>
<hr>
<div class="row">
    <div class="col-6">
        <div class="d-flex flex-column justify-content-left">
            <div class="p-4">

                <div class="form-group">
                    <label class="control-label col-sm-8" style="font-size:130%;"> Número</label>
                    <br>
                    <label class="control-label col-sm-8" for="ieDecimal">Decimal:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="ieDecimal" placeholder="0 - 9">
                    </div>
                </div>

                <br>

                <div class="form-group">
                    <label class="control-label col-sm-8" for="ieBinario">Binario:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="ieBinario" placeholder="0 - 1">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-6">

        <label class="control-label col-sm-8" style="font-size:130%;"> 32 BITS</label>

        <div class="row">
            <div class="col-2">
                <label class="control-label " for="ieSigno32">Signo:</label>
                <div class="">
                    <input type="number" class="form-control" id="ieSigno32" placeholder="0 - 1">
                </div>
            </div>
            <div class="col-4">
                <label class="control-label" for="ieExp32">Exponente:</label>
                <div class="">
                    <input type="number" class="form-control" id="ieExp32" placeholder="0 - 1">
                </div>
            </div>
            <div class="col-4">
                <label class="control-label" for="ieMan32">Mantisa:</label>
                <div class="">
                    <input type="number" class="form-control" id="ieMan32" placeholder="0 - 1">
                </div>
            </div>

        </div>

        <hr>
        <label class="control-label col-sm-8" style="font-size:130%;"> 64 BITS</label>

        <div class="row">
            <div class="col-2">
                <label class="control-label col-sm-8" for="ieSigno64">Signo:</label>
                <div class="">
                    <input type="number" class="form-control" id="ieSigno64" placeholder="0 - 1">
                </div>
            </div>
            <div class="col-4">
                <label class="control-label col-sm-8" for="ieExp64">Exponente:</label>
                <div class="">
                    <input type="number" class="form-control" id="ieExp64" placeholder="0 - 1">
                </div>
            </div>
            <div class="col-4">
                <label class="control-label col-sm-8" for="ieMan64">Mantisa:</label>
                <div class="">
                    <input type="number" class="form-control" id="ieMan64" placeholder="0 - 1">
                </div>
            </div>

        </div>

    </div>

</div>
<hr>
<div class="row">
    <div class="col">
        <br>
        <button type="button" class="btn btn-primary" id="btnCalcularIE">Calcular</button>
    </div>
    <div class="col">
        <br>
        <button type="button" class="btn btn-danger" id="btnLimpIE">Limpiar</button>
    </div>
</div>

{% endblock %}